@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face{
    font-family: BMWBold; /* Имя шрифта */
    src: url(../fonts/BMWTypeBold.woff); /* Путь к файлу со шрифтом */
}
@font-face{
    font-family: BMWLight; /* Имя шрифта */
    src: url(../fonts/BMWTypeLight.woff); /* Путь к файлу со шрифтом */
}


body {
    /*display: flex;*/
    /*min-height: 100vh;*/
    flex-direction: column;
    /*    background: #FFF8EE;*/
    font-family: "BMWBold", Arial, sans-serif;
    /*    font-weight: lighter;*/
    color: black;
    overflow-x: hidden;
    background-color: #ffffff;
    min-width: 320px;
    font-size: 1rem;
}

main{

}

.container {
    padding: 0 0.75rem;
    max-width: 1200px;
}
@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

a{
    color: #ffffff;
    transition: 0.25s;
}
a:hover{
    color: #0653b6
}
a.active{
    color: #0653b6;
}


.cd-main-content {
  min-height: calc(100vh - 100px);
  padding: 2em 5%;
  line-height: 2;
}

main .container nav {
    box-shadow: none;
    padding: 0.875rem 0;
    height: auto;
    line-height: 30px;
    background-color: transparent;
}
@media only screen and (max-width: 800px) {
    main .container nav {
        padding: 0.625rem 0;
    }
}
@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 30px;
        line-height: 30px;
    }
}


header ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.top-nav-links{
    height: 35px;
}
.top-nav-links ul{
    margin-top: 5px;
}
.top-nav-links ul li{
    display: inline-block;
    line-height: 30px;
    margin-right: 5px;
    font-size: 0.9rem;
}




.main-nav-links>ul>li{
    display: inline-block;
    line-height: 30px;
}
.main-nav-links>ul>li{
    font-size: 1.2rem;
}
.main-nav-links>ul>li:nth-child(1) > a{
    padding-left: 0;
}
.main-nav-links>ul>li>a{
    padding: 0 7px;
}

.main-nav-links i{
    position: relative;
    top: 5px;
}
.main-nav-links .nav-icons{
    position: relative;
    top: 0px;
    width: 16px;
    margin-right: 3px;
}
.img-logo img{
    position: absolute;
    top: 0;
    right: 50px;
    height: 90px;
    z-index: 2;
}

@media only screen and (max-width: 600px){
    .img-logo img{
    height: 72px;
    right: 20px;
    }
}
@media only screen and (min-width: 920px){
    .img-logo img{
    right: 80px;
    }
}


.search-block{
    width: 50%;
    display: none;
}
@media only screen and (max-width: 600px){
    .search-block{
        margin-top: 20px;
        width: 100%;
    }
}
.cd-search{
    position: relative;
}
.cd-search input[type="search"] {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-color: #ffffff;
    color: #8e8e8e;
    color: #5d5d5d; 
    border: 2px solid #8e8e8e;
    border-radius: 0;
}

.search-block .close-icon:focus {
    outline: none;
    background-color: transparent;
}
.close-icon {
    border: none;
    position: absolute;
    padding: 20px;
    top: 0;
    right: 10px;
    margin: auto;
    bottom: 0;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}
.close-icon:after,.close-icon:before {
    content: '';
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 22px;
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    background: #212121;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.close-icon:after{
    webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-icon:before{
    webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.search-box:not(:valid) ~ .close-icon {
    display: none;
}
.cd-search input[type="search"]::-webkit-input-placeholder {
  color: #8e8e8e;
}
.cd-search input[type="search"]::-moz-placeholder {
  color: #8e8e8e;
}
.cd-search input[type="search"]:-moz-placeholder {
  color: #8e8e8e;
}
.cd-search input[type="search"]:-ms-input-placeholder {
  color: #8e8e8e;
}
.cd-search input[type="search"]:focus {
  background: #ffffff;
  color: #5d5d5d;
  outline: none;
}
.cd-search input[type="search"]:focus::-webkit-input-placeholder {
  color: rgba(17, 20, 51, 0.4);
}
.cd-search input[type="search"]:focus::-moz-placeholder {
  color: rgba(17, 20, 51, 0.4);
}
.cd-search input[type="search"]:focus:-moz-placeholder {
  color: rgba(17, 20, 51, 0.4);
}
.cd-search input[type="search"]:focus:-ms-input-placeholder {
  color: rgba(17, 20, 51, 0.4);
}
@media only screen and (min-width: 1024px) {
  .cd-search input[type="search"] {
    background-color: #ebebeb;
  }
  .cd-search input[type="search"]::-webkit-input-placeholder {
    color: #b3b3b3;
  }
  .cd-search input[type="search"]::-moz-placeholder {
    color: #b3b3b3;
  }
  .cd-search input[type="search"]:-moz-placeholder {
    color: #b3b3b3;
  }
  .cd-search input[type="search"]:-ms-input-placeholder {
    color: #b3b3b3;
  }
}


.cart-block{
    width: 50%;
    margin-top: 20px; 
    display: none;
}
.make-order{
    display: block;
    width: 33%;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    background: #0653b6;
    border: 2px solid #0653b6;
    transition: .3s;
}
.make-order:hover{
    color: #0653b6;
    background: #ffffff;
}

.cart-block .item-title{
    color: #8e8e8e;
}

div.col.counter {
    margin-top: 15px;
    padding: 0 30px;
    position: relative;
}
.counter span{
    position: absolute;
    top: 5px;

}
.counter span:nth-of-type(1){
    left: 0px;
}
.counter span:nth-of-type(2){
    right: 0;
}
.counter span i.material-icons{
    color: #ffffff;
    line-height: 1.7rem;
    background: #0653b6;
    border-radius: 3px;
}
.counter input{
    height: 2rem;
}

.cart-field .delete-item-cart i{
    line-height: 4.3rem;
    font-size: 30px;
}

.profile-block{
    display: none;
}
.profile-block input{
    margin: 0;
    padding: 0 10px;
    border: 2px solid #9e9e9e;
    color: #5d5d5d;
    box-sizing: border-box;
}

.profile-block input:focus{
    border: 2px solid #0653b6!important;
}
.profile-block button{
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background: #0653b6;
    border: 2px solid #0653b6;
    padding: 10px 0;
    transition: .3s;
}
.profile-block  button:hover {
    color: #0653b6;
    background: #ffffff;
}
.profile-block .reg-profile {
    display: block;
    width: 100%;
    text-align: center;
    color: #8e8e8e;
    padding: 10px 0;
    transition: .3s;
}
.profile-block .reg-profile:hover{
    color: #0653b6;
}


.profile-info{
    margin-top: 15px;

}
.profile-block .profile-info .name{
    color: #5d5d5d;
    font-size: 1.3rem;
}

.profile-block .profile-info .settings{
    margin: 10px 0 20px;
}
.profile-block .profile-info .settings a{
    color: #5d5d5d;
}
.profile-block .profile-info .settings a:hover{
    color: #0653b6;
}
.profile-block .profile-info .money{
    color: #5d5d5d;
}
.profile-block .profile-info .money p{
    font-size: 0.9rem;  
}








main .slider{
    height: 100%;
    position: relative;
}


.gray-blocks .row.container .col{
    padding: 0 3px 6px;
}

.gray-block{
    min-height: 140px;
    background-color: #8e8e8e;
    position: relative;
    color: #ffffff;
    transition: .5s;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .gray-block {
    min-height: 100px;
  }
}

.gray-blocks a:hover .gray-block{
    box-shadow: 0 0 0 1px #bbb inset;
    background-color: #ffffff;
    color: #0653b6;
}

.gray-block img{
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.gray-block .gray-block-info{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
}

/* Карточки со ссылками */
.card .card-content{
    padding: 0;
}
.card .card-info{
    padding: 16px 24px;
}
.card .card-link {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px 24px;
}
.card .card-link a{
    color: #666;
    transition: color .3s ease;
}
.card .card-link a:hover{
    color: #0653b6
}
.card .card-big-link{
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}
.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/*Каталог*/

/* Навигация в каталоге */
.nav_crumbs{
    font-family: Roboto,Arial,Helvetica,sans-serif; 
}
.nav_crumbs .catalog-back{
    font-size: 1rem;
    color: #8e8e8e;
}
.nav_crumbs i{
    margin-right: 15px;
    font-size: 20px;
    line-height: 30px;
}

a.breadcrumb{
    color: #8e8e8e;
    font-size: 0.9rem;
}
a.breadcrumb:hover{
    color: #0653b6; 
}
.breadcrumb:before{
    font-size: 17px;
    vertical-align: bottom;
    color: #8e8e8e;
}
.breadcrumb:last-child {
    color: #0653b6;
}



/* Фильтр */
.filter-side form ul{
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
}
.filter-side .collapsible-header{
    color: #8e8e8e;

}
.filter-side .collapsible-body{
    padding: 0;
    font-family: Arial,Helvetica,Roboto,sans-serif;
    font-size: 0.8rem;
    border: none;
}
.filter-side .collapsible-body label{
    color: black;
}
.filter-side [type="checkbox"]:checked + label:before{
    border-right-color: #0653b6;
    border-bottom-color: #0653b6;

}
.filter-side [type="radio"]:checked + label:after, .filter-side [type="radio"].with-gap:checked + label:after {
    background-color: #0653b6;
        border: 2px solid #0653b6;
}
.filter-side input[type=number]:focus:not([readonly]){
    border-color: #0653b6;
}
.filter-side #input-number {
    padding: 7px;
    margin: 15px 5px 5px;
    width: 70px;
}


/*Информация о фильтре над списком товаров*/
.filter-box{
    font-size: 0.9rem;
    height: 46px;
    font-family: Roboto,Arial,Helvetica,sans-serif; 
    line-height: normal;
    color: #8e8e8e;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 15px 0 14px!important;
}
.filter-box .filter-info{
    /*margin: 10px 0;*/
}
.filter-box b{
    font-family: BMWBold;
}

.filter-box .input-field{
    margin: 0;
    padding: 0;
    width: 20%;
}

.filter-box .select-wrapper input{
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 0.9rem;
    line-height: normal;
    border: none;
}
.filter-box .dropdown-content li{
    position: relative;
}
.filter-box .dropdown-content li > span{
    color: #0653b6;
}

.filter-box .dropdown-content .icon{
    position: absolute;
    top: 15px;
    right: 5px;
    margin: 0;
    height: 20px;
    width: 20px;
}


/* Карточка товара*/
.product-cards {
    font-family: Roboto,Arial,Helvetica,sans-serif; 
}
.product-cards .card .card-title{
    height: 60px;
    overflow: hidden;
    padding: 5px;
    font-size: 1rem;
    line-height: 25px;
    color: #0653b6;
    transition: .3s;
}
.product-cards .card:hover .card-image{
    opacity: 0.7;
}
.product-cards .card .add-to-cart a{
    display: block;
    color: #ffffff;
    background: #0653b6;
    border: 2px solid #0653b6;
    transition: .3s;
}
.product-cards .card a:hover {
    color: #0653b6;
    background: #ffffff;
}
.product-cards .card-content{
    padding: 10px 5px;
}
.product-cards .card-content .prices-card{
    text-align: center;
}

.product-cards .card-content .prices-card .new-price{
    font-size: 1.25rem;
    color: #0653b6;
    margin-right: 10px;
}
.product-cards .card-content .prices-card .old-price{
    color: #757575;
}
/* Rating */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    font-size: 1.5rem;
    line-height: normal
}
.rating:hover {
    cursor: pointer;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
    color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    left: 3px; 
    color: gold;
}



/*Paginate*/
.pagination li.active {
    background-color: #0653b6;
}



/* Страница товара*/
.product-title{

}

.main-info{
    font-family: Roboto,Arial,Helvetica,sans-serif; 
    position: relative;
    margin-bottom: 50px;
}

.product-image img{
    width: 100%;
}



/* Tabs */
.tabs .tab a {
    font-family: BMWBold;
    color: #8e8e8e;
}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #0653b6;
}
.tabs .indicator {
    height: 5px;
    background-color: #0653b6;
}

#description p{
    font-size: 1rem;
}

.collection{
    border: none;
}
.collection .row{
    margin: 0;
}
.collection .content{
    float: right;
}
.product-info {
    margin-bottom: 50px;
}
.product-info .add-to-cart a{
    display: block;
    color: #ffffff;
    background: #0653b6;
    border: 2px solid #0653b6;
    transition: .3s;
}
.product-info .collection .collection-item{
    padding: 10px 20px;
}

.product-info .add-to-cart a:hover {
    color: #0653b6;
    background: #ffffff;
}
.bottom-info{
    margin: 20px 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*cart*/



[type="checkbox"].filled-in:checked + label:before {
    border-right: 2px solid #0653b6;
    border-bottom: 2px solid #0653b6;
    transition: unset;
}
[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #0653b6;
    background-color: #ffffff;
}
[type="checkbox"].filled-in + label:before,
 [type="checkbox"].filled-in + label:after {
    transition: unset;
 }
.collection .collection-header p{
    color: #8e8e8e;
}

.collection .collection-item{
    padding: 0;
}
.cart .collection img{
    margin-top: 10px;
}
.collection .material-icons{
    line-height: 4.3rem;
}
a.confirm-cart{
    display: block;
    color: #ffffff;
    background: #0653b6;
    border: 2px solid #0653b6;
    transition: .3s;
}
a.confirm-cart:hover {
    color: #0653b6;
    background: #ffffff;
}



/*Footer*/
footer{
    font-family: Roboto,Arial,Helvetica,sans-serif; 
    background: #8e8e8e;
}
footer .container .row{
    margin: 0;
}
footer h5 {
    margin-bottom: 0;
    margin-top: 15px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
}
footer ul{
    padding: 0;
    margin-bottom: 0;
}
footer ul li{
    display: inline-block;
    margin: 0 11px 8px 0;
}
footer li a{
    color: #ffffff
}
footer li a i.fa{
    font-size: 20px;
}